html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
@font-face {
  font-family: "Bulgaria Moderna";
  src: url('Fonts/bulgaria_moderna_pro-webfont.woff');
}
body {
  font-family: "Segoe UI", sans-serif;
}
canvas {
  background-color: black;
}
.maximized {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#paused-screen {
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.35);
  display: none;
  color: black;
  /*nav ~ nav {
        // Precicely 170px is the distance between the submenus
        margin-top: -170px;
    }*/
}
#paused-screen nav {
  max-width: 500px;
  height: 150px;
  margin: 0 auto;
  border-left: 5px solid white;
  font-size: 125%;
}
#paused-screen nav.fadeout {
  display: none;
}
#paused-screen nav.fadein {
  display: block;
}
#paused-screen nav.fadein:before {
  content: attr(data-content);
  margin-left: 40px;
}
#paused-screen #resume-button {
  text-align: center;
  margin-top: 3%;
  font-family: "Bulgaria Moderna", "Segoe UI", sans-serif;
  letter-spacing: 5px;
}
#paused-screen #resume-button:hover {
  color: #595959;
}
#paused-screen #resume-button:active {
  color: #737373;
}
#paused-screen ul {
  list-style-type: none;
  margin-top: 10px;
}
#paused-screen ul li {
  text-align: left;
  color: #aaa;
}
#paused-screen ul li:hover {
  color: white;
}
#paused-screen ul li:last-child {
  bottom: 0;
}
#loading-screen {
  z-index: 99999;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
#loading-screen div {
  text-align: center;
  color: black;
  font-family: "Bulgaria Moderna", "Segoe UI", sans-serif;
  font-size: 3em;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 10%;
}
#loading-screen div span {
  position: relative;
  top: 1.25em;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
  font-size: .6em;
  line-height: 0.5em;
  text-indent: .5em;
  width: 100%;
  height: 2.5em;
  border: none;
  background-color: #eeeeee;
  color: #b8860b;
}
progress[value]::-webkit-progress-value {
  background-color: #b8860b;
  -webkit-background-size: 35px 20px, 100% 100%, 100% 100%;
  -moz-background-size: 35px 20px, 100% 100%, 100% 100%;
  -o-background-size: 35px 20px, 100% 100%, 100% 100%;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: #eeeeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar {
  background-color: #b8860b;
  -moz-background-size: 35px 20px, 100% 100%, 100% 100%;
  -o-background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-background-size: 35px 20px, 100% 100%, 100% 100%;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
nav {
  color: white;
}
nav pre {
  margin: 5% 0% 0% 3%;
  font-family: "Segoe UI", sans-serif;
  font-size: 120%;
}
#crosshair {
  background-image: url(Content/Textures/Crosshair.png);
  background-position: center center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 4%;
  min-height: 4%;
  max-width: 4%;
  max-height: 4%;
  position: absolute;
  top: 48%;
  left: 48%;
  z-index: 9999;
  display: none;
}
#subtitles {
  font-size: x-large;
  position: absolute;
  width: 60%;
  bottom: 20%;
  left: 50%;
  margin: 0 0 0 -30%;
  text-align: center;
  color: white;
  z-index: 99999;
}
#subtitles span {
  background-color: black;
  color: white;
  z-index: 99999;
}
.cursor-hidden {
  cursor: url(Images/blank.cur), default;
}
/* Storytelling */
.fadeout {
  opacity: 0 !important;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.fadein {
  opacity: 1 !important;
  -moz-transition: all 1s linear step-start;
  -o-transition: all 1s linear step-start;
  -webkit-transition: all 1s linear step-start;
  transition: all 1s linear step-start;
}
.story {
  background-color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  text-align: center;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 3em;
}
.story span {
  margin-top: 25%;
}
#particle-canvas {
  position: absolute;
  top: 30%;
  left: 20%;
}
/* Help text */
.keyboard-button {
  border: 1px solid gray;
  padding: 1px 5px;
  margin: 0 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333;
  border-radius: 3px;
  background: -moz-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(25%, #e2e2e2));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -o-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
}
#help-info {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
  color: white;
  z-index: 99999;
  text-shadow: 5px 0px 10px #000;
}
#help-info span {
  border: 1px solid gray;
  padding: 1px 5px;
  margin: 0 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333;
  border-radius: 3px;
  background: -moz-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(25%, #e2e2e2));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -o-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  background: linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
  color: black;
  text-shadow: none;
}
