// Variables

@progress-bar-color: darkgoldenrod;
@progress-bar-bg-color: #eee;
@pause-screen-bg-color: rgba(255, 255, 255, 0.35);
@pause-font-size: 125%;
@font-headings: "Bulgaria Moderna", "Segoe UI", sans-serif;
@font-body: "Segoe UI", sans-serif;
@max-z-index: 99999;
@anim-transition-duration: 1s;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
@font-face {
    font-family: "Bulgaria Moderna";
	src: url('Fonts/bulgaria_moderna_pro-webfont.woff');
}
body {
    font-family: @font-body
}

canvas {
    background-color: black;
}

.maximized {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#paused-screen {
    z-index: @max-z-index;
    background-color: @pause-screen-bg-color;
    display: none;
    color: black;

    nav {
        // Fix dimensions
        max-width: 500px;
        height: 150px;
        margin: 0 auto;
        border-left: 5px solid white;
        font-size: @pause-font-size;

        // Fuck smooth animations
        &.fadeout {
            display: none;
        }
        &.fadein {
            display: block;
            &:before {
                content: attr(data-content);
                margin-left: 40px;
            }
        }
    }

    #resume-button {
        text-align: center;
        margin-top: 3%;
        font-family: @font-headings;
        letter-spacing: 5px;

        &:hover {
            color: lighten(black, 35%);
        }
        &:active {
            color: lighten(black, 45%);
        }
    }

    ul {
        list-style-type: none;
        margin-top: 10px;

        li {
            text-align: left;
            color: #aaa;

            &:hover {
                color: white;
            }

            &:last-child {
                bottom: 0;
            }
        }
    }

    nav#inventory-panel ul li {
        img {
            width: 48px;
            height: 48px;
            margin-left: 100px;
        }
        
        :hover {
            img {
                width: 64px;
                height: 64px;
            }
        }
    }
}
#loading-screen {
    z-index: @max-z-index;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    div {
        text-align: center;
        color: black;
        font-family: @font-headings;
        font-size: 3em;
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: 10%;
        span {
            position: relative;
            top: 1.25em;
        }
    }
}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
    font-size: .6em;
    line-height: 0.5em;
    text-indent: .5em;
    width: 100%;
    height: 2.5em;
    border: none;
    background-color: @progress-bar-bg-color;
    color: @progress-bar-color;
}
progress[value]::-webkit-progress-value {
    background-color: @progress-bar-color;
    -webkit-background-size: 35px 20px, 100% 100%, 100% 100%;
    -moz-background-size: 35px 20px, 100% 100%, 100% 100%;
    -o-background-size: 35px 20px, 100% 100%, 100% 100%;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-bar {
    background-color:  @progress-bar-bg-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar {
    background-color: @progress-bar-color;
    -moz-background-size: 35px 20px, 100% 100%, 100% 100%;
    -o-background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-background-size: 35px 20px, 100% 100%, 100% 100%;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
nav {
    color: white;
    pre {
        margin: 5% 0% 0% 3%;
        font-family: @font-body;
        font-size: 120%;
    }
}
#crosshair {
    background-image: url(Content/Textures/Crosshair.png);
    background-position: center center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 4%;
    min-height: 4%;
    max-width: 4%;
    max-height: 4%;
    position: absolute;
    top: 48%;
    left: 48%;
    z-index: 9999;
    display: none;
}

#subtitles {
    font-size: x-large;
    position: absolute;
    width: 60%;
    bottom: 20%;
    left: 50%;
    margin: 0 0 0 -30%;
    text-align: center;
    color: white;
    z-index: @max-z-index;
    span {
        background-color: black;
        color: white;
        z-index: @max-z-index;
    }
}
.cursor-hidden {
    cursor: url(Images/blank.cur), default;
}



/* Storytelling */

.fadeout {
    opacity: 0 !important;

    -webkit-transition: all @anim-transition-duration linear;
    -moz-transition: all @anim-transition-duration linear;
    -o-transition: all @anim-transition-duration linear;
    transition: all @anim-transition-duration linear;
}

.fadein {
    opacity: 1 !important;
    -moz-transition: all @anim-transition-duration linear step-start;
    -o-transition: all @anim-transition-duration linear step-start;
    -webkit-transition: all @anim-transition-duration linear step-start;
    transition: all @anim-transition-duration linear step-start;
}

.story {
	background-color: black;
	position: absolute;
	left: 0%;
	top: 0%;
	bottom: 0%;
	right: 0%;
	text-align: center;
	color: white;
	font-family: @font-body;
	font-size: 3em;
}

.story span {
    margin-top: 25%;
}

#particle-canvas {
    position: absolute;
    top: 30%;
    left: 20%;
}

/* Help text */

.keyboard-button {
    border: 1px solid gray;
    padding: 1px 5px;
    margin: 0 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333;

    border-radius: 3px;
    @color1: #FFF;
    @color2: #E2E2E2; 
    @gradientstop: 25%;
    background: -moz-linear-gradient(left, @color1 0%, @color2 @gradientstop);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, @color1), color-stop(@gradientstop, @color2));
    background: -webkit-linear-gradient(left, @color1 0%, @color2 @gradientstop);
    background: -o-linear-gradient(left, @color1 0%, @color2 @gradientstop);
    background: -ms-linear-gradient(left, @color1 0%, @color2 @gradientstop);
    background: linear-gradient(left, @color1 0%, @color2 @gradientstop);
}

#help-info {
    position: absolute;
    width: 100%;
    bottom: 15%;
    text-align: center;
    color: white;
    z-index: @max-z-index;
    text-shadow: 5px 0px 10px #000;
    span {
        .keyboard-button;
        color: black;
        text-shadow: none;
    }
}